@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

.two-columns-grid {
    display: grid;
    grid-template-columns: 70% 30%;
}

/* columns */
.two-columns-grid > * {
    padding:1rem;
    margin-left: 0%;
}

#ul_top_hypers li{
    padding: 20px;
    list-style-type: none;
    font-size:32px;
    display: inline;
}

#title_with_subtitle > h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subtitle > *{
    font-family: Roboto, Regular;
    font-weight: 400;
    font-size: 26.6px;
    background-color: #FCEE21;
}

body{
    background-color: rgb(239,239, 239);
}

h1{
    font-family: Coiny, regular;
    font-weight: 400;
}

h2{
    font-family: Roboto, Bold;
    font-weight: 700;
    font-size: 64px;
}

h1,h2{
    display:inline;
}

p{
    font-family: Roboto, regular;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
}

section{
    background-color: rgb(255, 255, 255);
}